.section {
  padding: 0 1rem;

  & > .container {
    /* min-height: 100vh; */
  }

  .section-header {
    // margin-bottom: 1rem;
    position: sticky;
    top: calc(var(--nav-height, 0));
    padding: 1rem 0;
    z-index: 9998;
    background-color: var(--secondary-background-color);

    // border-inline: 1px solid var(--text-color);

    .section-title {
      font-size: 16px;
      font-weight: 900;
      text-align: center;

      display: flex;
      flex-direction: row;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      align-items: center;
      gap: 1rem;
      text-transform: uppercase;

      &::before,
      &::after {
        flex: 1 1 auto;
        content: '';
        display: block;
        height: 1px;
        background: var(--border-color);
        // opacity: 0.4;
        margin-bottom: -1px;
      }
    }
  }

  .section-body {
    font-size: 16px;
    line-height: 1.2;

    &:not(:first-child) {
      padding-bottom: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 0;
    & > .container {
      padding: 0;

      & > .paper {
        box-shadow: none;
        border-radius: 0;
      }

      .section-header {
        transition: top 0.5s ease-in-out;
      }
    }
  }
}
