{% from 'components/_section.njk' import section %}

{% extends "layouts/main.njk" %}

{% set page_name = 'Практичні роботи' %}
{% set base_path = '..' %}
{% set nav_active = '/pracs' %}

{% block content %}

  {% call section('Практичні роботи') %}
  <ul class="works">
    <li>
      <a href="p1">Практична 1</a>
    </li>
    <li>
      <a href="../labs/l1">Практична 2</a>
    </li>

  </ul>
  {% endcall %}

{% endblock %}

{% block js %}
  <script>
    (function () {
      const disabledPracs = document.querySelectorAll('.works li[disabled] a');
      disabledPracs.forEach((prac) => {
        prac.setAttribute('tabindex', '-1');
      });
    })();
  </script>
{% endblock %}