* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #f1f2f4;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
