* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: inherit;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

:root {
  -webkit-tap-highlight-color: transparent;
  line-height: 1;
  // color-scheme: light dark;

  --background-color: #fff;
  --secondary-background-color: #f8f9fa;
  --text-color: #212529;

  // @media screen and (prefers-color-scheme: dark) {
  //   --background-color: #1e1e1e;
  //   --secondary-background-color: #121212;
  //   --text-color: #fff;
  // }
}

body {
  background-color: var(--secondary-background-color);
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  color: var(--text-color);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
