{% from 'components/_section.njk' import section %}

{% extends "layouts/main.njk" %}

{% set page_name = 'Лабораторні роботи' %}
{% set base_path = '..' %}
{% set nav_active = '/labs' %}

{% block content %}

  {% call section('Лабораторні роботи') %}
  <ul class="works">
    <li>
      <a href="l1">Лабораторна 1</a>
    </li>
    <li>
      <a href="l2">Лабораторна 2</a>
    </li>
    <li>
      <a href="l3">Лабораторна 3</a>
    </li>
    <li>
      <a href="l4">Лабораторна 4</a>
    </li>
    <li>
      <a href="l5">Лабораторна 5</a>
    </li>
    <li disabled>
      <a href="l6">Лабораторна 6</a>
    </li>
    <li disabled>
      <a href="l7">Лабораторна 7</a>
    </li>
    <li >
      <a href="l5">Лабораторна 8</a>
    </li>
  </ul>
  {% endcall %}

{% endblock %}

{% block js %}
  <script>
    (function () {
      const disabledPracs = document.querySelectorAll('.works li[disabled] a');
      disabledPracs.forEach((prac) => {
        prac.setAttribute('tabindex', '-1');
      });
    })();
  </script>
{% endblock %}