{% set prac_name = 'Практична 1' %}
{% extends "layouts/pracs.njk" %}

{% block styles %}
  {{ super() }}
  <style></style>
{% endblock %}

{% block content %}
  {{ super() }}
  <section>
    <div class="container">
      <div class="section-body"></div>
    </div>
  </section>
{% endblock %}