{% set page_name = '' %}
{% set base_path = './' %}
{% set nav_active = '/' %}
{% extends "layouts/base.njk" %}

{% block content %}
  <section>
    <div class="container">
      <div class="section-header">
        <h1 class="section-title">Головна</h1>
      </div>

      <p class="section-body">
        <i>Тут щось має бути...</i>
      </p>
    </div>
  </section>
{% endblock %}