{% from 'components/_section.njk' import section %}

{% extends "layouts/main.njk" %}

{% set nav_active = '/' %}

{% block content %}

  {% call section('Головна') %}
  <p class="section-body">
    <i>Тут щось має бути...</i>
  </p>
  {% endcall %}

{% endblock %}