{% from 'components/_section.njk' import section %}

{% extends "layouts/main.njk" %}

{% set page_name = lab_name %}
{% set base_path = '../..' %}
{% set nav_active = '/labs' %}

{% block content %}
  {{ section(lab_name) }}
{% endblock %}