{% set page_name = lab_name %}
{% set base_path = '../../' %}
{% set nav_active = '/labs' %}
{% extends "layouts/base.njk" %}

{% block content %}
  <section>
    <div class="container">
      <div class="section-header">
        <h1 class="section-title">{{lab_name}}</h1>
      </div>
    </div>
  </section>
{% endblock %}