{% extends "layouts/base.njk" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{css_path}}/main.css"/>
  <script src="{{js_path}}/main.js"></script>
{% endblock %}

{% block body %}
  <div class="wrapper">
    {% include "shared/header.njk" %}
    {% include "shared/nav.njk" %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include "shared/footer.njk" %}
  </div>
{% endblock %}