{% from 'components/_section.njk' import section %}

{% extends "layouts/main.njk" %}

{% set page_name = prac_name %}
{% set base_path = '../..' %}
{% set nav_active = '/pracs' %}

{% block content %}
  {{ section(prac_name) }}
{% endblock %}