<!-- [header.html] -->
<header>
  <div class="container">
    <h1 class="title">
      <a href="#">Бєляєв Данило</a>
    </h1>
    <div class="group">ТЦР-21</div>
  </div>
</header>
<!-- [/header.html] -->