{% set lab_name = 'Лабораторна 1' %}
{% extends "layouts/labs.njk" %}

{% block styles %}
  {{ super() }}
  <style></style>
{% endblock %}

{% block content %}
  {{ super() }}
  <section>
    <div class="container">
      <div class="section-body"></div>
    </div>
  </section>
{% endblock %}